<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Noxe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " *ngIf="isLogin">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tv">Tv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="people">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="networks">Networks</a>
        </li>
      </ul>
      <div class="d-flex">
        <form class="me-2">
          <input class="form-control  " type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav d-flex align-items-center flex-row ms-auto">
          <li class="nav-item me-2">
            <a class="nav-link" href="https://www.facebook.com/"><i class="fa-brands fa-facebook text-white "></i></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="https://www.instagram.com/"><i class="fa-brands fa-instagram text-white "></i></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="https://twitter.com/"><i class="fa-brands fa-twitter text-white "></i></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="https://www.youtube.com/"><i class="fa-brands fa-youtube text-white "></i></a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" routerLink="login" *ngIf="!isLogin">Login</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="register" *ngIf="!isLogin">Register</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link logout" *ngIf="isLogin" (click)="logout()">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
