<div class="w-50 my-2 m-auto">
  <h1 class="text-center">Registration form </h1>
  <div class="alert alert-danger" role="alert" *ngIf="messageError">
    <h3 class="text-center">{{messageError}}</h3>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
    <label class="form-label my-3">First name :</label>
    <input class="form-control mb-1" type="text" formControlName="first_name">
    <div class="alert alert-danger" role="alert"
      *ngIf="registerForm.controls['first_name'].errors && registerForm.controls['first_name'].touched">
      <p *ngIf="registerForm.controls['first_name'].errors?.['required']">first name is required</p>
      <p *ngIf="registerForm.controls['first_name'].errors?.['minlength']">first name should be min 3 char</p>
      <p *ngIf="registerForm.controls['first_name'].errors?.['maxlength']">first name is should be max 5 char</p>
    </div>
    <label class="form-label my-2">Last name :</label>
    <input class="form-control mb-1" type="text" formControlName="last_name">
    <div class="alert alert-danger" role="alert"
      *ngIf="registerForm.controls['last_name'].errors && registerForm.controls['last_name'].touched">
      <p *ngIf="registerForm.controls['last_name'].errors?.['required']">last name is required</p>
      <p *ngIf="registerForm.controls['last_name'].errors?.['minlength']">last name should be min 3 char</p>
      <p *ngIf="registerForm.controls['last_name'].errors?.['maxlength']">last name is should be max 5 char</p>
    </div>
    <label class="form-label my-2">Email :</label>
    <input class="form-control mb-1" type="email" formControlName="email">
    <div class="alert alert-danger" role="alert"
      *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].touched">
      <p *ngIf="registerForm.controls['email'].errors?.['required']">email is required</p>
      <p *ngIf="registerForm.controls['email'].errors?.['email']">formt of email not valid</p>
    </div>
    <label class="form-label my-2">Password :</label>
    <input class="form-control mb-1" type="password" formControlName="password">
    <div class="alert alert-danger" role="alert"
      *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].touched">
      <p *ngIf="registerForm.controls['password'].errors?.['required']">password is required</p>
      <p *ngIf="registerForm.controls['password'].errors?.['pattern']">password should start with capital char then numbers</p>
    </div>
    <label class="form-label my-2">Age :</label>
    <input class="form-control mb-1" type="number" formControlName="age">
    <div class="alert alert-danger" role="alert"
      *ngIf="registerForm.controls['age'].errors && registerForm.controls['age'].touched">
      <p *ngIf="registerForm.controls['age'].errors?.['required']">last name is required</p>
      <p *ngIf="registerForm.controls['age'].errors?.['min']">age should be min 18</p>
      <p *ngIf="registerForm.controls['age'].errors?.['max']">age is should be max 50</p>
    </div>
    <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary mt-3 d-block m-auto">Register</button>
  </form>
</div>
